<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>glass</key>
	<array>
		<dict>
			<key>name</key>
			<string>AltForge</string>
			<key>imageName</key>
			<string>AppIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AltForge Coral</string>
			<key>imageName</key>
			<string>AppIcon_Coral</string>
		</dict>
	</array>
</dict>
</plist>
