<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>glass</key>
	<array>
		<dict>
			<key>name</key>
			<string>AltForge</string>
			<key>imageName</key>
			<string>AppIcon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AltForge Coral</string>
			<key>imageName</key>
			<string>AppIcon_Coral</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AltForge Frost</string>
			<key>imageName</key>
			<string>AppIcon_Frost</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AltForge Paper</string>
			<key>imageName</key>
			<string>AppIcon_Paper</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AltForge Neon</string>
			<key>imageName</key>
			<string>AppIcon_Neon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AltForge Blueprint</string>
			<key>imageName</key>
			<string>AppIcon_Blueprint</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AltForge Titanium</string>
			<key>imageName</key>
			<string>AppIcon_Titanium</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AltForge Glass</string>
			<key>imageName</key>
			<string>AppIcon_Glass</string>
		</dict>
		<dict>
			<key>name</key>
			<string>AltForge Ceramic</string>
			<key>imageName</key>
			<string>AppIcon_Ceramic</string>
		</dict>
	</array>
</dict>
</plist>
